doctype html
html
  head
  meta(charset='utf-8')
  title Банкетный зал Атриум
  meta(content='width=device-width, initial-scale=1, shrink-to-fit=no', name='viewport')
  meta(content='ie=edge', http-equiv='x-ua-compatible')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css', rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet')
  link(href='stylesheets/app.css', rel='stylesheet')
  body
    | fdl;ksd;flgkjs;dfkj
    script(src='javascripts/app.js')
