body {
  background-color: #f8f8f8;
}

.font-bold {
    font-weight: 500;
}

.wow {
  visibility: visible;
  animation-delay: 0.13s;
}

hr.section-divider {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  height: 0;
}
