.intro {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url('../images/intro.jpg');
  @include dark-layer;
  hr {
    margin-left: 31%;
    margin-right: 31%;
    background-color: #fff;
    height: 1px;
  }
  .brand-name {
      font-size: 4.5rem;
  }
  .btn .fa {
    padding-right: 1em;
  }
}

section {
  & > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 3% 2em;
    text-transform: uppercase;
    font-weight: 500;
    &:before, &:after {
      content: '';
      display: block;
      flex: 1;
      height: 3px;
      margin: 0 .9em;
      background-color: #c7c7c7;
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  h4 {
    font-weight: 400;
    color: #333;
    text-align: center;
    & + p {
      color: #777;
      margin-top: 1.5em;
    }
  }
}

.streak {
  position: relative;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  @include dark-layer;
  color: #fff;
  text-align: center;
  & > * {
    position: relative;
  }
}

.photos {
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    .photo-item {
      position: relative;
      flex: 1 1 280px;
      .proportional {
        display: block;
        position: relative;
        padding-bottom: 60%;
        margin: .5em;
        background-position: center center;
        background-size: cover;
        @include default-shadow;
        @for $i from 6 through 1 {
          &[data-item="#{$i}"] {
            background-image: url("../images/thumbnails/#{$i}.jpg");
          }
        }
      }
    }
  }
}

.infographics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    text-transform: uppercase;
  }
  .infographics-numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item {
      min-width: 160px;
      text-align: center;
      margin: .7em;
    }
  }
}

.feedback {
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 160px;
      border-radius: 100%;
      margin-bottom: 2em;
      overflow: hidden;
      @include default-shadow;
      img {
        display: block;
        width: 100%;
      }
    }
    .content {
      margin-top: .8em;
      font-size: .98em;
      text-align: center;
      i {
        padding-right: .2em;
      }
    }
  }
}

.contacts {
  .contact-cards {
    display: flex;
    flex-wrap: wrap;
    .contact-item {
      flex: 1 1 250px;
      padding: .85em;
      border-radius: 2px;
      margin: 1em;
      font-size: 1.2em;
      font-weight: 600;
      background-color: #fff;
      i {
        padding-right: .5em;
      }
      .btn {
        margin: 0;
      }
    }
  }
  .social-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .map {
    width: 100%;
    height: 400px;
    border: 0;
  }
}


// ------------- media -------------


@media (max-width: 1024px) and (min-width: 769px) {
  .intro hr.hr-light, .hr-streak hr.hr-light, .intro-video hr.hr-light {
    margin-left: 28%;
    margin-right: 28%;
  }
}

@media (min-width: 450px) {
  .streak {
    min-height: 350px;
  }
}

@media (min-width: 576px) {
  section > h3 {
    margin: 3em 15% 2em;
  }
  .contacts .contact-cards .contact-item {
    font-size: 1.4em;
  }
}

@media (min-width: 992px) {
  section > h3 {
    margin: 3em 25% 2em;
  }
  .photos .photo-item {
    flex: 1 1 29% !important;
  }
}

@media (min-width: 1366px) {
  .streak {
    background-attachment: fixed;
  }
  // .photos .photo-item {
  //   flex: 1 1 33% !important;
  // }
}
