<div class="container container-wide">
  <section id="about" class="about">

    <h3 class="wow fadeIn">
      о нас
    </h3>

    <div class="row mt-4 mb-4">
      <div class="col-md-12 col-lg-6 mb-3 wow fadeIn">
        <img itemprop="image" src="images/about.jpg" alt="Банкетный зал Атриум. Москва">
      </div>
      <article class="col-lg-6 col-md-12 wow fadeIn">
        <h4>В современной архитектуре атриумом называется внутренний световой дворик в здании.</h4>
        <div itemprop="description">
        <p>Главное в организации мероприятия на высоком уровне – продумать все до мелочей. С этой точки зрения банкетный зал «Атриум» - отличный вариант.</p>

        <p>В «Атриуме» есть две площадки: большой зал и малый. Большой зал идеально подойдет для свадеб и корпоративов. Светлое помещение с высокими стеклянными потолками и уличными фонарями, оформленное в стиле бульвара, вместит до 150 гостей.</p>

        <p>Малый зал великолепно подходит для празднования дней рождений,
        небольших корпоративов и других камерных событий.</p>

        <p>До 50 гостей располагаются на диванах за изящно сервированными столами. Огромный плюс «Атриума» в том, что оба зала можно объединить в один. Хотите ли вы провести камерное мероприятие или масштабное торжество – не важно. Любой формат события будет организован здесь на отлично.</p>
        </div>
      </article>
    </div>

  </section>
</div>
