<div class="container">
  <section id="about" class="about">

    <h3 class="wow fadeIn">
      о нас
    </h3>

    <div class="row mt-4 mb-4">
      <div class="col-md-12 col-lg-5 mb-3 wow fadeIn">
        <img src="images/about.jpg" alt="зал">
      </div>
      <div class="col-lg-6 offset-lg-1 col-md-12 wow fadeIn">
        <h4>В современной архитектуре атриумом называется внутренний световой дворик в здании.</h4>
        <p> Особая атмосфера, олицетворяющая успех и преуспевание в делах,
          придает дополнительное значение корпоративным мероприятиям,
          проводимым у нас. Любой из наших залов может быть использован
          для банкета или фуршета по случаю юбилея компании, профессионального
          или календарного праздника.</p>
      </div>
    </div>

  </section>
</div>
