<div class="container">
  <section id="contacts" class="contacts">

    <h3 class="wow fadeIn">
      контакты
    </h3>

    <p class="text-center wow fadeIn grey-text text-darken-2 col-lg-8 offset-lg-2">
      Лучше один раз увидеть, чем сто раз услышать.
    </p>

    <div class="contact-cards row mt-2 mb-1">
      <div class="contact-item z-depth-1">
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>8 (495) 797-13-41</span>
        </p>
        <span class="btn btn-outline-primary waves-effect">Позвонить</span>

      </div>
      <div class="contact-item z-depth-1">
        <p>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>sample-text@gmail.com</span>
        </p>
        <span class="btn btn-outline-secondary waves-effect">Написать</span>
      </div>
    </div>

    <div class="social-btns mb-2">
      <button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i> Facebook</button>
      <button type="button" class="btn btn-tw"><i class="fa fa-twitter left"></i> Twitter</button>
      <button type="button" class="btn btn-ins"><i class="fa fa-instagram left"></i> Instagram</button>
      <button type="button" class="btn btn-yt"><i class="fa fa-youtube left"></i> Youtube</button>
      <button type="button" class="btn btn-vk"><i class="fa fa-vk left"></i> Vkontakte</button>
    </div>

    <!-- <iframe class='map' src="https://api-maps.yandex.ru/frame/v1/-/CBQ4AYeT2D" frameborder="0"></iframe> -->
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8989.10329393724!2d37.6282732!3d55.7189586!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba509f00ba90bf83!2z0JDQotCg0JjQo9CcIC0g0JHQsNC90LrQtdGC0L3Ri9C5INC30LDQuyDQvdCwINCh0LXRgNC_0YPRhdC-0LLRgdC60L7QuQ!5e0!3m2!1sru!2sru!4v1496788606119" frameborder="0" allowfullscreen></iframe>
  </section>
</div>
