<div class="container">
  <section id="feedback" class="feedback">

    <h3 class="wow fadeIn">
      отзывы клиентов
    </h3>

    <p class="wow fadeIn grey-text text-darken-2 col-lg-8 offset-lg-2">
      Мы стараемся сделать Ваше пребывание в нашем зале
      максимально комфортным, мы любим свою работу и приветствуем
      любые Ваши отзывы, они позволяют нам расти, развиваться и
      совершенствоваться.
    </p>

    <div class="row mt-4 mb-4">
      <div class="testimonial col-md-4 mb-r">
        <div class="avatar wow fadeIn">
          <img src="images/person1.jpg" alt="">
        </div>
        <h4 class="name wow fadeIn">Ксенья Радионова</h4>
        <div class="content wow fadeIn">
          <p>
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            Вино которое нам предложили в ресторане, в последствии стало одним из любимых, им теперь и наслаждаемся при поездках в Черногорию.
          </p>
        </div>
      </div>
      <div class="testimonial col-md-4 mb-r">
        <div class="avatar wow fadeIn">
          <img src="images/person2.jpg" alt="">
        </div>
        <h4 class="name wow fadeIn">Виктор Громов</h4>
        <div class="content wow fadeIn">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          Отмечали в отдельном малом зале. Для камерного, но торжественного, вечера антураж идеальный. Организация прекрасная.
        </div>
      </div>
      <div class="testimonial col-md-4 mb-r wow fadeIn">
        <div class="avatar wow fadeIn">
          <img src="images/person3.jpg" alt="">
        </div>
        <h4 class="name wow fadeIn">Арсений Зайцев</h4>
        <div class="content wow fadeIn">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          Великолепная, достойная организация свадебного торжества. Прекрасная, в цветущих розах территория, шикарный банкетный зал, слаженная, профессиональная работа персонала.
        </div>
      </div>
    </div>

  </section>
</div>
