<footer class="page-footer footer-tiles center-on-small-only pt-4">

  <!--Footer Links-->
  <div class="container mb-4">

    <!--First row-->
    <div class="row">


      <!--First column-->
      <div class="col-sm-12 col-md-6 col-lg-5 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <!--About-->
        <h5 class="title mb-1"><strong>Банкетный зал Атриум</strong></h5>
        <p itemprop="review" class="mb-1-half">Любой из наших залов может быть использован для банкета, фуршета, детского праздника, конференции или корпоратива.</p>
        <!--/About -->

        <div class="footer-socials">
          <a href="https://www.instagram.com/atrium_hall/" class="btn btn-outline-white footer-inst ml-0">
            <i class="fa fa-instagram left"></i> Instagram
          </a>
        </div>
      </div>
      <!--/First column-->

      <hr class="w-100 hidden-md-up">

      <!--Second column-->
      <div class="col-sm-12 col-md-6 offset-lg-1 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <!--Search-->
        <h5 class="title mb-1"><strong>Контакты</strong></h5>

        <!--Info-->
        <p><a itemprop="address" href="https://goo.gl/maps/gVATTuq9VPA2">
          <i class="fa fa-home mr-3"></i>Москва, 3-й Павловский пер., д.2</a></p>
        <p><a itemprop="email" href="mailto:atrium.2018@mail.ru">
          <i class="fa fa-envelope mr-3"></i>atrium.2018@mail.ru</a></p>
        <p><a itemprop="telephone" href="tel:+79150099511">
          <i class="fa fa-phone mr-3"></i>8 (915) 009-95-11</a></p>

      </div>
      <!--/Second column-->

    </div>
    <!--/First row-->

  </div>
  <!--/Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <p class="container-fluid">
      © 2017 Copyright: <a href="http://atrium-hall.moscow" rel=“nofollow”> Банкетный зал Атриум </a>
    </p>
    <p>
      <small>
        Разработчик:
        <a href="mailto:georgy.yuriev@gmail.com">Юрьев Георгий</a>
      </small>
    </p>
  </div>
  <!--/Copyright-->

</footer>
