<header class="view intro" id="home">
  <div class="container">
    <div class="intro-text">
      <div class="wow wow-big-delay fadeInDown">
        <h2 class="brand-name">Атриум</h2>
        <p class="subtext-header">
          Просторный зал со стеклянным потолком.
        </p>
        <p class="subtext-header">
          Вместимость до 150 человек.
        </p>
      </div>
      <a href="tel:+79150099511" class="btn btn-lg btn-outline-white wow wow-big-delay fadeInUp waves-effect waves-light" style="visability: hidden;">
        <i class="fa fa-phone"></i>
        <span>Связаться</span>
      </a>
    </div>
  </div>
</header>
