<header class="view intro" id="home">
  <div class="hm-black-strong-1">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="row smooth-scroll">
          <div class="col-md-12 white-text text-center">
            <div class="wow fadeInDown">
              <h2 class="brand-name font-bold mb-2">Атриум</h2>
              <hr class="hr-light">
              <h4 class="subtext-header mt-2 mb-2">
                <p>
                  Просторный зал со стеклянным потолком.
                </p>
                <p>
                  Вместимость до 150 человек.
                </p>
              </h4>
            </div>
            <a href="#contacts" class="btn btn-lg btn-outline-white wow fadeInUp waves-effect waves-light" data-wow-delay="0.2s" data-toggle="modal">
              <i class="fa fa-phone"></i>
              <span>Связаться</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
