<div class="container">
  <section id="menu" class="menu">

    <h3 class="wow fadeIn">
      наше меню
    </h3>

    <p class="wow fadeIn grey-text text-darken-2 col-lg-8 offset-lg-2">
      Фишка греческой кухни в оливковом масле. Путешествуя по Греции, стоит
      попробовать спанакопиту, блюдо из запеченных в слоеном тесте феты со шпинатом.
      Также достойно внимания жареное мясо с соусом цацыки, завернутое в питу – гирос.
    </p>

    <div class="col-lg-8 offset-lg-2">
      <table class="wow fadeIn table table-sm table-hover mt-3 mb-4">
      <thead class="thead-default">
        <tr>
          <th>Наименование</th>
          <th>Вес</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Фрукты</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Фрукты по желанию</td>
          <td>1500г</td>
          <td>500р</td>
        </tr>
        <tr>
          <th>Горячие закуски</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Жульен грибной</td>
          <td>80г</td>
          <td>100р</td>
        </tr>
        <tr>
          <th>Горячие блюда</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Стейк из говядины</td>
          <td>300г</td>
          <td>800р</td>
        </tr>
        <tr>
          <td>Стейк из говяжей вырезки</td>
          <td>350г</td>
          <td>530р</td>
        </tr>
        <tr>
          <td>Семга с соусом из красной икры</td>
          <td>200г</td>
          <td>100р</td>
        </tr>
        <tr>
          <td>Шашлык из баранины</td>
          <td>300г</td>
          <td>600р</td>
        </tr>
        <tr>
          <td>Каре барашка запеченое с соевым соусом и розмарином</td>
          <td>560г</td>
          <td>5430р</td>
        </tr>
        <tr>
          <th>Гарниры</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Баклажаны, томаты, цуккини</td>
          <td>300г</td>
          <td>800р</td>
        </tr>
        <tr>
          <td>Молодой картофель</td>
          <td>350г</td>
          <td>530р</td>
        </tr>
        <tr>
          <th>Напитки</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Сок</td>
          <td>200мл</td>
          <td>100р</td>
        </tr>
        <tr>
          <td>Морс клюквенный</td>
          <td>300мл</td>
          <td>60р</td>
        </tr>
        <tr>
          <td>Кофе и чай</td>
          <td>100мл</td>
          <td>40р</td>
        </tr>
      </tbody>
    </table>
    </div>

  </section>
</div>
