<div class="container">
  <section id="menu" class="menu">

    <h3 class="wow fadeIn">
      наше меню
    </h3>

    <p class="wow fadeIn card default-color white-text col-lg-8 offset-lg-2">
      <span class="card-block">При выборе банкетного меню за 3500 руб. напитки: чай, кофе - подаются
      в неограниченном количестве. Торт с
      индивидуальным дизайном в подарок.
      </span>
    </p>

    <p class="wow fadeIn card grey-text text-darken-2 col-lg-8 offset-lg-2">
      <span class="card-block">
        Каравай в подарок.
      </span>
    </p>

    <div class="table-tabs col-lg-8 offset-lg-2">
      <input id="t3500" type="radio" name="tabs" checked>
      <label for="t3500" title="В стол на 3500р" class="btn btn-outline-primary">В стол на 3500р</label>

      <input id="t2500" type="radio" name="tabs">
      <label for="t2500" title="В стол на 2500р" class="btn btn-outline-primary">В стол на 2500р</label>

      {% include "layouts/table3500.html" %}
      {% include "layouts/table2500.html" %}

    </div>

  </section>
</div>
