<nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#home">
        <strong itemprop="name">Банкетный зал Атриум</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a href="#home" class="nav-link waves-effect waves-light">Домой</a>
        </li> -->
        <li class="nav-item">
          <a rel=“nofollow” href="#about" class="nav-link waves-effect waves-light">О нас</a>
        </li>
        <li class="nav-item">
          <a rel=“nofollow” href="#photos" class="nav-link waves-effect waves-light">Фотографии</a>
        </li>
        <li class="nav-item">
          <a rel=“nofollow” href="#menu"  class="nav-link waves-effect waves-light"">Меню</a>
        </li>
        <li class="nav-item">
          <a rel=“nofollow” href="#contacts" class="nav-link waves-effect waves-light">Контакты</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#feedback" class="nav-link waves-effect waves-light" href="#menu">Отзывы</a>
        </li> -->
      </ul>
      <!-- <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.instagram.com/atrium_hall/" class="nav-link waves-effect waves-light">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>
