<section id="photos" class="photos mb-4">

  <h3 class="wow fadeIn">
    фотографии
  </h3>

  <div class="photo-gallery col-sm-12">
    <div class="photo-item wow fadeIn">
      <a href="images/1.jpg" class="proportional" data-item="1" data-fancybox="photos"></a>
    </div>
    <div class="photo-item wow fadeIn">
      <a href="images/2.jpg" class="proportional" data-item="2" data-fancybox="photos"></a>
    </div>
    <div class="photo-item wow fadeIn">
      <a href="images/3.jpg" class="proportional" data-item="3" data-fancybox="photos"></a>
    </div>
    <div class="photo-item wow fadeIn">
      <a href="images/4.jpg" class="proportional" data-item="4" data-fancybox="photos"></a>
    </div>
    <div class="photo-item wow fadeIn">
      <a href="images/5.jpg" class="proportional" data-item="5" data-fancybox="photos"></a>
    </div>
    <div class="photo-item wow fadeIn">
      <a href="images/6.jpg" class="proportional" data-item="6" data-fancybox="photos"></a>
    </div>
    <div class="photo-item wow fadeIn">
      <a href="images/7.jpg" class="proportional" data-item="7" data-fancybox="photos"></a>
    </div>
    <div class="photo-item wow fadeIn">
      <a href="images/8.jpg" class="proportional" data-item="8" data-fancybox="photos"></a>
    </div>
  </div>

</section>

<hr class="section-divider">
