<div class="table-item animated fadeIn" id="table-3500">
  <table class="table table-sm table-hover mt-3 mb-4">
    <thead class="thead-default">
      <tr>
        <th>Наименование</th>
        <th>Вес</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Холодные закуски *восемь закусок на выбор</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Овощной букет</span><br><span class="dish-contains">
        (помидоры, огурцы, перец болгарский, редис, зелень)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Рулетики из баклажан</span><br><span class="dish-contains">
        (жареные баклажаны, фаршированные кремом Чиз)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Фаршированные помидоры</span><br><span class="dish-contains">
        (бакинские помидоры, фаршированные крабовым кремом)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Рыбное плато</span><br><span class="dish-contains">
        (семга с/с, осетрина гор./к., красная икра, лимон, маслины, масло сливочное)</span>
        </td>
        <td>200 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Мясное плато</span><br><span class="dish-contains">
        (буженина, язык отварной, карбонат в/к, колбаса с/к., рулет куриный)</span>
        </td>
        <td>200 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Ростбиф с хреном</span><br><span class="dish-contains">
        (запеченая говяжья вырезка с хреном и дижонской горчицей)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Маринованные грибочки</span><br><span class="dish-contains">
        (маринованные шампиньоны)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Маринованные овощи</span><br><span class="dish-contains">
        (томаты сл.соленые, малосольные огурчики, маринованный перец, чеснок, черемша)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Закуска Русская</span><br><span class="dish-contains">
        (мясное заливное)</span>
        </td>
        <td>100</td>
      </tr>
      <tr>
        <th>Салаты <strong>*пять салатов на выбор</strong></th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Авокадо с коктейльными креветками и черри</span><br><span class="dish-contains">
        (авокадо, коктейльные креветки, помидоры черри, салат руккола, кунжут, оливковое масло, соевый соус)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Экзотика</span><br><span class="dish-contains">
        (салат с копченым лососем и свежим огурцом)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Греческий</span><br><span class="dish-contains">
        (классический Греческий салат с брынзой)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Гнездо</span><br><span class="dish-contains">
        (мясной салат с перепелиными яйцами)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Кальмары с овощами с соусом терияки</span><br><span class="dish-contains">
        (кальмары, перец болгарский, огурец, помидор, китайский салат, соевый соус, оливковое масло, соус терияки)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Салат из телятины гриль и маринованным перцем</span><br><span class="dish-contains">
        (микс салата, телятина, маринованный болгарский перец, лук, кедровые орешки, оливковое масло, бальзамик, французская горчица)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <th>Фруктовое плато</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Фрукты по желанию
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <th>Горячие закуски</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Жульен грибной</span><br><span class="dish-contains">
        (на сливочном соусе)</span>
        </td>
        <td>100 г</td>
      </tr>
      <tr>
        <th>Горячие блюда <strong>*одно горячее на персону</strong></th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Стейк из говядины</span><br><span class="dish-contains">
        (стейк из говяжей вырезки)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Семга с соусом из красной икры<br>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Шашлык из баранины</span><br><span class="dish-contains">
        (каре барашка запеченое с соевым соусом и розмарином)</span>
        </td>
        <td>100 г</td>
      </tr>
      <tr>
        <th>Гарниры <strong>*один гарнир на персону</strong></th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Овощи гриль</span><br><span class="dish-contains">
        (баклажаны, томаты, цуккини)</span>
        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <td><span class='dish'>Молодой картофель<br>

        </td>
        <td>150 г</td>
      </tr>
      <tr>
        <th>Напитки</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Сок<br>

        </td>
        <td></td>
      </tr>
      <tr>
        <td><span class='dish'>Морс клюквенный или Мохито б.а.<br>

        </td>
        <td></td>
      </tr>
      <tr>
        <td><span class='dish'>Минеральная вода<br>

        </td>
        <td></td>
      </tr>
      <tr>
        <td><span class='dish'>Кофе или чай<br>

        </td>
        <td></td>
      </tr>
      <!-- <tr>
        <th>Десерты</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Пирожное кейк-манго<br>

        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Пирожное кейк-вишня<br>

        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><span class='dish'>Питтифуры<br>

        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Или торт из расчета 150 гр на персону</th>
        <td>&nbsp;</td>
      </tr> -->
      <tr>
        <th>1,5 кг еды на персону</th>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
